<script>
import StateContainer from '~/vue_merge_request_widget/components/state_container.vue';

export default {
  name: 'MrWidgetJiraAssociationMissing',
  components: {
    StateContainer,
  },
};
</script>

<template>
  <state-container status="failed">
    <span class="gl-font-weight-bold">
      {{
        s__(
          'mrWidget|Merge blocked: a Jira issue key must be mentioned in the title or description.',
        )
      }}
    </span>
  </state-container>
</template>
